:root {
  --primary-color: #ffffff;
  --secondary-color: #f7f8fa;
  --red-alert: #fed6ce;
  --blue-alert: #cdd4fe;
  --green-alert: #ceffea;
  --text-color: #333333;
  --shadow: 4px 8px 12px rgba(51, 51, 51, 0.3);
}